@import "../../style/scss/variables";

h2 {
  // font-family: $oxygen;
  font-family: $comingsoon;
  font-size: calc(0.5rem + 2vmin);
}

// .name-title-container {
//   position: relative;
//   display: block;
//   .name-title-arrow {
//     width: 15%;
//     display: inline-block;
//     position: absolute;
//     top: 20px;
//     left: 20px;
//   }
// }

input {
  display: inline-block;
  margin: 10px auto;
  position: relative;

  font-family: $comingsoon;
  // font-family: $oxygen;
  font-size: calc(0.3rem + 2vmin);

  border: none;
  border-bottom: 2px solid $main-color;
  // color: $main-color;
  color: #000;
  background-color: transparent;

  text-align: center;

  padding: 10px;
  width: 90%;

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    // color: $main-color;
    color: #000;
    opacity: 1;
    /* Firefox */
  }

  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    // color: $main-color;
    color: #000;
  }

  &::-ms-input-placeholder {
    /* Microsoft Edge */
    // color: $main-color;
    color: #000;
  }

  //TEXT INPUTS
  &[type="text"] {
    width: 45%;
  }

  //NUMBER INPUTS
  &[type="number"] {
    width: 30%;
  }

  //RANGE INPUTS
  &[type="range"] {
    display: block;
    width: 90%;
    margin: 10px auto;

    @media screen and (min-width: $breakpoint-mobile) {
      width: 50%;
    }
  }

  // NAME INPUT AT TOP
  &[name="guessName"] {
    width: 90%;
    display: block;
    border: none;
    background-color: transparent;
    color: $yellow-old;
    font-size: calc(1rem + 8vmin);
    font-family: $amatic;
    font-weight: bold;
    // font-family: $lobster;

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $yellow-old;
      opacity: 1;
      /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $yellow-old;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $yellow-old;
    }
  }

  //DESKTOP SETTINGS
  @media screen and (min-width: $breakpoint-mobile) {
    margin: 10px auto;
    font-size: calc(0.3rem + 1vmin);
    outline: none;
  }
}

//start custom range slider from range.css
input[type="range"] {
  -webkit-appearance: none;
  border-bottom: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $main-color;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: $main-color;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $main-color;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: $main-color;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-ms-fill-upper {
  background: $main-color;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: $main-color;
}

input[type="range"]:focus::-ms-fill-upper {
  background: $main-color;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $main-color;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: $main-color;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: $main-color;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: $main-color;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-ms-fill-upper {
  background: $main-color;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  height: 8.4px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: $main-color;
}

input[type="range"]:focus::-ms-fill-upper {
  background: $main-color;
}

.datepicker {
  font-family: $amatic;
  color: $main-color;
  font-size: calc(2rem + 4vmin);
  width: 100% !important;
  border: none;
}

label {
  font-family: $amatic;
  // font-family: $lobster;
  color: $main-color;
  font-size: calc(1rem + 4vmin);
  margin-bottom: 0;
  padding-bottom: 0;
}