@import "../../style/scss/variables";

.card-container {
  // //rotate card animation
  // position: relative;
  // backface-visibility: hidden;

  margin: 20px auto;

  z-index: -10;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  //   styling
  background-color: $pastel-white;
  box-shadow: 10px 15px 20px $dark;
  border: 20px solid $pastel-red;
  // border: 20px solid $yellow;

  //   on small screens take 90% of width
  width: 90%;
  //on large screens take 600px wide card
  @media screen and (min-width: $breakpoint-mobile) {
    width: 50%;
    min-width: 600px;
    max-width: 960px;
  }

  .card {
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    //VERTICALLY CENTER THE CONTENT
    // justify-content: center;
    text-align: center;

    // //   styling
    // background-color: $pastel-white;
    // box-shadow: 10px 15px 20px $dark;
    // border: 20px solid $pastel-red;
    // // border: 20px solid $yellow;

    width: 100%;
    min-height: 80vh;

    background-color: $pastel-white;

    // //rotate card animation
    // transform-style: preserve-3d;
    // .card-front, .card-back {
    //   backface-visibility: hidden;
    // }
    // .card-back {
    //   position: abolute;
    //   top: 0;
    //   left: 0;
    //   transform: rotateY(180deg);
    // }

    h1 {
      font-family: $amatic;
      // font-family: $lobster;
      font-size: 84px;

      color: $yellow-old;
    }
  }
}
