@import "../../style/scss/variables";

footer {
  width: 100%;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;

  a {
    text-decoration: underline;
    color: $main-color;
  }

  p {
    display: inline-block;
    padding: 10px;
    background-color: $yellow;
  }
}
