@import url("https://fonts.googleapis.com/css?family=Finger+Paint|Lobster|Oxygen|Permanent+Marker&display=swap");

// BREAKPOINTS
$breakpoint-mobile: 601px;

//COLOR
$white: #ffffff;
$yellow: #dcbe60;
$red: #dc607e;
$dark: #242424;

$main-color: #2b50c5;
$secondary-color: #607edc;

$background-color: #2b50c5;
$background-color2: #607edc;

$text-color: #242424;

//FONT
$font-size: 16px;
$font-family: Arial;

$lobster: "Lobster", cursive;
$marker: "Permanent Marker", cursive;
$paint: "Finger Paint", cursive;
$oxygen: "Oxygen", sans-serif;
