@import url("https://fonts.googleapis.com/css?family=Finger+Paint|Lobster|Oxygen|Permanent+Marker|Coming+Soon|Amatic+SC&display=swap");

// BREAKPOINTS
$breakpoint-mobile: 601px;

//COLOR
$white: #ffffff;

$yellow-old: #dcbe60;
$red-old: #dc607e;
$dark: #242424;
$pastel-blue: #b7dcf4;
$pastel-red: #f8c3b9;
$pastel-yellow: #fbeaa5;
$turquoise: #ace9dd;
$pastel-purple: #ddc6e7;
$pastel-grey: #b9c0c9;
$pastel-white: #fafcfc;
$yellow: $pastel-yellow;
$red: $pastel-red;

$main-color: #2b50c5;
$secondary-color: #607edc;

$background-color: $pastel-blue;
$background-color2: $pastel-white;

$text-color: #242424;

//FONT
$font-size: 16px;
$font-family: Arial;

$lobster: "Lobster", cursive;
$marker: "Permanent Marker", cursive;
$paint: "Finger Paint", cursive;
$oxygen: "Oxygen", sans-serif;
$comingsoon: "Coming Soon", cursive;
$amatic: "Amatic SC", sans-serif;

//LINKS
$link-color: $main-color;
