@import "../../style/scss/variables";

.background-wrapper {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -999;

  svg {
    width: 100%;
  }

  background: linear-gradient(
    to top right,
    $background-color,
    $background-color2
  );
}
